.advance-img{
    width: 100%;
}
.advance-text p{
    color: #000000;
}
.card{
    margin-left: 20px;
    background: white !important;
    text-align: left;
}
.card p{
    color: yellow;
}
.advance-list{
    font-weight: bold;
}
.advance-list h5{
    margin-top: 20px;
}
.advance-button{
    margin-top: 230px;
    border: none;
    background: yellow;
    padding: 10px 30px;
}