.class-op-bg{
    padding:20px;
}
.class-op-bg-1{
    background:url('../../images/victor-freitas-WvDYdXDzkhs-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-bg-2{
    background:url('../../images/baylee-gramling-5m4Z14SDL80-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-bg-3{
    background:url('../../images/humphrey-muleba-LOA2mTj1vhc-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-bg-4{
    background:url('../../images/alora-griffiths-TuzrzArccvc-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-bg-5{
    background:url('../../images/john-fornander-FIu48iuo_4g-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-bg-6{
    background:url('../../images/sven-mieke-Lx_GDv7VA9M-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.class-op-btn {
    margin: 0;
    border: none;
    background:#FBDB46;
    font-weight: bolder;
    padding: 8px 15p;
    margin-top: 320px;
    width: 110%;
    text-align: center;
    height: 40px;
    align-items: center;
    padding-left: 50px;
}