.credit-card-body{
    border: 1px solid lightgray;
    padding: 30px;
    margin-bottom: 20px;
}
.credit-card-body p{
    color: grey;
}
.payment-img{
    padding-left: 170px !important;
}
.credit-card-text{
    margin-left: 35px;
}
.paypal-img{
    padding-left: 280px ;
}
.payment-custom-btn{
    padding: 30px;
}