
.about-img{
    width: 80%;
}
.about-text h1{
    color: lightgray;
}
.about-text h2{
    color: yellow;
}
.about-text h3{
    font-size: 30px;
    font-weight: 700;
}
.about-text p{
    color: #000000;
}