.train-header span{
    color: yellow;
}
.train-bg-1{
    background:url('../../images/bruce-mars-gJtDg6WfMlQ-unsplash.png');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding-top: 320px;

}
.train-bg-2{
    background:url('../../images/arthur-edelman-qfjuh4OLdxw-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding-top: 320px;
}
.train-btn{
    margin: 0;
    border: none;
    background: #FCD842;
    padding: 10px 30px;
}