.background{
    padding: 10px;
}
.background-1{
    background:url('../../images/hipcravo-5UbIqV58CW8-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.background-1 h1,p{
    color: white;
}
.background-2 h1,p{
    color: white;
}
.background-3 h1,p{
    color: white;
}
.background-2{
    background:url('../../images/daniel-apodaca-WdoQio6HPVA-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.background-3{
    background:url('../../images/penguinuhh-8VI6WwEEEHw-unsplash.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px;
    text-align: center;
    padding: 60px;
}
.img{
    
}