/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);
.App{
    padding-bottom: 2px;
    background: white;
}